@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">Ha ocurrido un error procesando su solicitud. Por favor, pruebe de nuevo o contacte con el administrador.</h2>
</hgroup>

